.bg-dark {
  background-color: #1a3a3a;
  color: #ffffff;
}

.bg-light {
  background-color: #f0ead6;
  color: #333333;
}

.bg-medium {
  background-color: #a7cecb;
  color: #333333;
}

.container {
  padding: 2rem 2rem;
  border-bottom: 2px solid #8a9b68;
}

.header {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.two-columns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.libro-list {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.libro-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.libro-item img {
  height: 8rem;
  object-fit: contain;
}

.libro-item .title {
  font-weight: 600;
}
